<div class="review-content">
  <div class="total-review-rate">
    <div style="width: 80%; display: flex; flex-direction: column; align-items: flex-start;">
      <h2>Total review rate</h2>
    <div class="average-rating">
      <span>Average Rating:  4.15/5</span>
      <div class="stars">
        <span>★★★★★</span>
      </div>
      <p>Based on 163 reviews</p>
    </div>
    <button>Write a customer review</button>
    </div>
    <div class="rating-breakdown">
      <div class="rating-bar">
        <span>5 Stars</span>
        <div class="bar">
          <div class="fill" style="width: 75%;"></div>
        </div>
        <span>75%</span>
      </div>
      <div class="rating-bar">
        <span>4 Stars</span>
        <div class="bar">
          <div class="fill" style="width: 55%;"></div>
        </div>
        <span>55%</span>
      </div>
      <div class="rating-bar">
        <span>3 Stars</span>
        <div class="bar">
          <div class="fill" style="width: 33%;"></div>
        </div>
        <span>33%</span>
      </div>
      <div class="rating-bar">
        <span>2 Stars</span>
        <div class="bar">
          <div class="fill" style="width: 8%;"></div>
        </div>
        <span>8%</span>
      </div>
      <div class="rating-bar">
        <span>1 Star</span>
        <div class="bar">
          <div class="fill" style="width: 20%;"></div>
        </div>
        <span>20%</span>
      </div>
    </div>
  </div>
</div>

<div class="review-container">
  <div class="header">
    <div class="stars">★★★★★</div>
    <div class="title">It's really amazing</div>
    <div class="author">By Savanah Jackson</div>
  </div>
  <div class="content">
    <div class="advantages">
      <h3>Advantages</h3>
      <p>Color, Size</p>
    </div>
    <div class="disadvantages">
      <h3>Disadvantages</h3>
      <p>Nenhum</p>
    </div>
    <div class="review">
      <h3>Review</h3>
      <p>
        What sets 5 Star Cloth apart from other brands is their ability to create timeless pieces that never go out of style. Their designs are sophisticated and elegant, catering to individuals who appreciate refined fashion. Whether it's a formal event or a casual outing, their clothing effortlessly elevates any ensemble.
      </p>
    </div>
  </div>
  <div class="images">
    <img [src]="'assets/images/top100.png' | assetsUrl" alt="Imagem Central">
    <img [src]="'assets/images/top100.png' | assetsUrl" alt="Imagem Central">
  </div>
</div>
