<div class="product-details-container">
  <div class="product-description">
    <h3>Product Description</h3>
    <p>Short dress with a plunging V-neckline and tie detail. Wide sleeves falling below the elbow. Contrast bead details. Invisible back zip fastening.</p>

    <h4>Product Description</h4>
    <ul>
      <li>Length | Regular</li>
      <li>Pattern | Floral</li>
      <li>Size | 38</li>
      <li>Fit | Regular fit</li>
      <li>Age group | Adult</li>
      <li>Leg opening | Wide leg</li>
      <li>Sleeve length | Long sleeve</li>
      <li>Package contents | 2 pcs</li>
    </ul>
  </div>

  <div class="product-composition">
    <h3>Composition</h3>
    <p>We work with monitoring programmes to ensure compliance with our social, environmental and health and safety standards for our products. To assess compliance, we have developed a programme of audits and continuous improvement plans.</p>
    <p><strong>OUTER SHELL</strong><br>90% cotton<br>10% linen</p>

    <h3>Care instructions</h3>
    <ul class="care-instructions">
      <li>Machine wash at max. 30°C/86°F with short spin cycle</li>
      <li>Iron at a maximum of 110°C/230°F</li>
      <li>Do not dry clean</li>
      <li>Do not tumble dry</li>
      <li>Wash inside out</li>
      <li>Wash separately</li>
    </ul>
  </div>
</div>
