<div class="product-detail">
  <div class="gallery-container">
    <div class="side-images">
      <img [src]="'assets/images/product.png' | assetsUrl" alt="Imagem 1">
      <img [src]="'assets/images/product.png' | assetsUrl" alt="Imagem 2">
      <img [src]="'assets/images/product.png' | assetsUrl" alt="Imagem 3">
      <img [src]="'assets/images/product.png' | assetsUrl" alt="Imagem 4">
    </div>
    <div class="main-image">
      <img [src]="'assets/images/product.png' | assetsUrl" alt="Imagem Central">
    </div>
  </div>

  <div class="product-container">
    <div class="product-content">
      <h2>SHORT PRINTED DRESS</h2>
      <p>$39.99</p>

      <div class="product-size">
        <span>Size</span>
        <div class="size-options">
          <button>XS</button>
          <button>S</button>
          <button>M</button>
          <button>L</button>
          <button>XL</button>
        </div>
        <span class="size-guideline">Size guideline</span>
      </div>

      <div class="product-color">
        <span>Color</span>
        <div class="color-options">
          <div class="color-circle" style="background-color: #4a90e2;"></div>
          <div class="color-circle" style="background-color: #50e3c2;"></div>
          <div class="color-circle" style="background-color: #bd10e0;"></div>
          <div class="color-circle" style="background-color: #f5a623;"></div>
        </div>
      </div>

      <div class="product-shipping">
        <span>Shipping</span>
        <p>Free Shipping to Victoria territory</p>
        <p>Delivery Time: 14-17 days</p>
      </div>

      <div class="product-quantity">
        <span>Quantity</span>
        <div class="quantity-controls">
          <button>-</button>
          <span>2</span>
          <button>+</button>
        </div>
        <p>50 available / 104 sold</p>
      </div>
    </div>
    <div class="checkout-container">
      <div class="price-info">
        <h2>$79.98</h2>
        <div class="shipping-insurance">
          <input type="checkbox" id="insurance" />
          <label for="insurance">
            Add shipping insurance for $9 (declared value only if the package gets lost, stolen or damaged.)
          </label>
        </div>
      </div>

      <div class="actions">
        <button class="shop-now">SHOP NOW</button>
        <button class="add-to-basket">ADD TO BASKET</button>
      </div>
    </div>

  </div>
</div>
<div class="sidenav-container">
  <div style="display: flex; width: 50%; justify-content: space-between">
    <span [routerLink]="'details'">Detalhe produtos</span>
    <span [routerLink]="'reviews'">Reviews</span>
    <span [routerLink]="'shipping'">Envio e Compra</span>
  </div>
  <router-outlet></router-outlet>
  <div class="show-more">
    <p *ngIf="isShowMore" style="cursor: pointer" (click)="showMore()">&uarr; SHOW LESS</p>
    <p *ngIf="!isShowMore" style="cursor: pointer" (click)="showMore()">&uarr; SHOW MORE</p>
  </div>
  <div *ngIf="isShowMore" class="recommendation-container">
    <h2>YOU MIGHT ALSO LIKE</h2>
    <div class="carousel">
      <div class="product">
        <img [src]="'assets/images/tennis.png' | assetsUrl" alt="Short Printed Dress 1">
        <p>$69.99</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img [src]="'assets/images/top100.png' | assetsUrl" alt="Short Printed Dress 2">
        <p>$65</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img [src]="'assets/images/product.png' | assetsUrl" alt="Short Printed Dress 3">
        <p>$42</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img [src]="'assets/images/tennis.png' | assetsUrl" alt="Short Printed Dress 4">
        <p>$36</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img [src]="'assets/images/product.png' | assetsUrl" alt="Short Printed Dress 3">
        <p>$42</p>
        <button>Add to cart</button>
      </div>
    </div>
    <div class="navigation">
      <button class="prev">‹</button>
      <button class="next">›</button>
    </div>
  </div>

</div>


